.dashboard {
  max-width: 2400px;
  margin: 0 auto;
  text-align: center;
}

.game {
  max-width: 2400px;
  margin: 0 auto;
}

.login-page {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login-page a {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: .25rem;
  background-color: var(--green);
  padding: 1em 3em;
  border-radius: .5em;
  box-shadow: var(--shadow);
}

.login-page a:hover {
  background-color: var(--greenHover);
}

.logout-btn {
  white-space: nowrap;
  text-decoration: none;
  background-color: var(--green);
  color: var(--white);
  letter-spacing: .25rem;
  text-transform: uppercase;
  padding: 1em 2.5em;
  border: none;
  border-radius: .3em;
  box-shadow: var(--shadow);
  cursor: pointer;
  margin: 1em;
}

.logout-btn:hover {
  background-color: var(--greenHover);
}

.back-link {
  text-decoration: none;
  color: var(--white);
}

.icon {
  display: inline-block;
  text-align: left;
  margin: 1rem;
}

.back-link:hover {
  color: var(--greenHover);
}

.search_bar {
  margin: 1em;
  padding: 0.25em 0;
  font-size: 1.3rem;
  border: 0;
  border-bottom: 2px solid white;
  background-color: var(--darkGrey);
  color: var(--white);
  outline: 0;
}

.search_bar:focus {
  outline: var(--white);
}

.points-counter {
  padding: 1em 3em;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  max-width: 500px;
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-size: 1.3rem;
  border: 5px solid #333;
  border-radius: 10px;
  color: var(--green);
  box-shadow: var(--shadow);
}

.playlist_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.playlist_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--medGrey);
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: .2rem;
  box-shadow: var(--shadow);
  height: 400px;
  width: 300px;
}

.playlist_item h3 {
  margin: 0;
}

.playlist_item:hover {
  background-color: var(--medGreyHover);
}
.playlist_item img {
  width: 100%;
  margin: 0 auto;
}

.playlist-links {
  text-decoration: none;
  color: var(--white);
}

.instructions {
  text-align: center;
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 1rem;
  box-shadow: var(--shadow);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

.inline {
  display: flex;
  align-items: center;
}

.game-container {
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .flex {
    flex-direction: column;
  }

  .inline {
    display: block;
    text-align: center;
  }

  .inline img {
    margin-bottom: 1rem;
  }

  * {
    font-size: .7rem;
  }
}

.answer {
  display: block;
  border: 3px solid var(--darkGreyHover);
  background-color: var(--darkGrey);
  color: var(--white); 
  font-size: 1.4rem;
  padding: 2rem;
  width: 80%;
  margin: 2rem auto;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.answer:hover {
  background-color: var(--darkGreyHover);
}

.answer.correct {
  background-color: var(--green);
}

.answer.wrong {
  background-color: var(--error);
}

.game-over-container {
  display: grid;
  height: 100vh; 
  place-items: center;
}

.back-btn { 
   white-space: nowrap;
  text-decoration: none;
  background-color: var(--green);
  color: var(--white);
  letter-spacing: .25rem;
  text-transform: uppercase;
  padding: 1em 2.5em;
  border: none;
  border-radius: .3em;
  box-shadow: var(--shadow);
  cursor: pointer;
  margin: 1em;
}

.back-btn:hover {
  background-color: var(--greenHover);
}

.big-text {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
}

.loader {
  display: grid;
  height: 100vh;
  place-items: center;
  font-size: 3rem;
  color: var(--green);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}